body {
	background: #1c1c1c;
	font-size: 16px;
	line-height: 1.5;
}

a {
	/*text-decoration: none !important;*/
}

a:hover, a:focus {
    color: #fff;
}

* {
	outline: none !important;
}

.form-control {
	box-shadow: none !important;
}

.form-control {
	margin-bottom: 5px;
	background: #232323 !important;
	border-color: #232323 !important;
	color: #fff;
	border-radius: 2px;
}

.btn {
	border-radius: 2px;
}

.btn-login {
	background: #5a5a5a;
	color: #fff;
}

.btn-login:hover,
.btn-login:focus {
	background: #3a3a3a;
	color: #fff;
}

.btn-facebook {
	background: #3b5998;
	color: #fff !important;
}

.btn-twitter {
	background: #55acee;
	color: #fff !important;	
}

/* Layout 
====================================*/
.container {
	padding-left: 10px;
	padding-right: 10px;
}

@media (min-width: 980px) {
	.container {
		width: 980px !important;
	}
}

.row {
	margin-left: -10px;
	margin-right: -10px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left: 10px;
	padding-right: 10px;
}

/* Header
====================================*/
#page-header {
	background: #191919;
}

/* Brand */
.header-brand {
	padding: 20px 10px 20px 0;
}

/* Search */
.header-search {
	margin-top: 20px;
	position: relative;
}

.header-search .glyphicon {
	position: absolute;
	top: 10px;
	left: 10px;
	color: #666;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.header-search .form-control {
	border-radius: 34px;
	border-color: #666 !important;
	background: transparent !important;
	padding-left: 30px;
}

/* User-actions */
.user-actions {
	color: #fffafa;
	float: right;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 18px;
	list-style: none;
	margin: 24px 0;
}

.user-actions li {
	display: inline-block;
}

.user-actions li.login a {
	color: #fffafa;
}

.user-actions li.login a:hover {
	color: #00b1b2;
}

/* Modal login
====================================*/
.modal-login {
	width: 100%;
	padding-right: 0 !important;
}

.modal-login .modal-full {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

.modal-login .modal-content {
	border-radius: 0;
	background: #1c1c1c;
	padding: 30px 0;
}

.modal-login .close {
	margin-top: -20px;
	margin-right: 10px;
	color: #fff;
	font-weight: normal;
	opacity: .8;
}

.modal-login .close:hover {
	opacity: 1;
}

.modal-login .modal-brand {
	margin-bottom: 30px;
}

.modal-login .modal-brand span {
	font-size: 11px;
	text-transform: uppercase;
	color: #fff;
}

.modal-login .col-sm-6:first-child {
	border-right: 1px solid #5a5a5a;
}

.modal-login .col-sm-6:first-child .inner {
	padding: 30px 70px 20px;
}

.modal-login .col-sm-6:last-child .inner {
	padding: 30px 70px 20px;
}

.modal-login .forgot-password {
	font-size: 12px;
	color: #fff;
	margin-top: 5px;
}

.modal-login .forgot-password:hover {
	color: #00fefe;
}

.modal-login .btn-facebook {
	margin-bottom: 10px;
	margin-top: 20px;
}

.modal-login .register {
	color: #fff;
	font-size: 12px;
	margin-top: 30px;
}

.modal-login .register a {
	font-weight: bold;
	color: #fff;
}

.modal-login .register a:hover {
	color: #00fefe;
}

@media (max-width: 767px) {
	.modal-login .modal-brand {
		margin: 0;
	}

	.modal-login .register {
		margin: 0;
	}

	.modal-login .col-sm-6 .inner {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

/* Main menu 
====================================*/
#main-nav {
	background: transparent;
	border: none;
	padding: 30px 0 25px;
	margin: 0;
}

#main-nav li {
	font-size: 20px;
	border-left: 1px solid #0e0e0e;
	margin-left: 22px;
	padding-left: 22px;
	text-transform: capitalize;

}

#main-nav li:first-child {
	margin-left: 0;
	padding-left: 0;
	border-left: none;
}

#main-nav li a {
	padding: 0 0 5px;
	display: inline-block;
	border-bottom: 1px solid transparent;
}

.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus {
	color: #fff;
	border-bottom-color: #fff !important;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	background: transparent;
	color: #00ffff;
	border-bottom-color: #00ffff !important;
}

#main-nav li a .glyphicon {
	margin-right: 10px;
}

#main-nav li.home a {
	background: url(../img/icon-home.png) no-repeat;
	padding-left: 28px;
}

/*#main-nav li.home.active a:hover,*/
#main-nav li.home.active a {
	background: url(../img/icon-home-active.png) no-repeat;
}

#main-nav li.album a {
	background: url(../img/icon-album.png) no-repeat;
	padding-left: 30px;
}

/*#main-nav li.album a:hover,*/
#main-nav li.album.active a {
	background: url(../img/icon-album-active.png) no-repeat;
}

#main-nav li.video a {
	background: url(../img/icon-video.png) no-repeat;
	padding-left: 30px;
}

/*#main-nav li.video a:hover,*/
#main-nav li.video.active a {
	background: url(../img/icon-video-active.png) no-repeat;
}

#main-nav li.artist a {
	background: url(../img/icon-artist.png) no-repeat;
	padding-left: 30px;
}

/*#main-nav li.artist a:hover,*/
#main-nav li.artist.active a {
	background: url(../img/icon-artist-active.png) no-repeat;
}

#main-nav li.chart a {
	background: url(../img/icon-chart.png) no-repeat;
	padding-left: 30px;
}

/*#main-nav li.chart a:hover,*/
#main-nav li.chart.active a {
	background: url(../img/icon-chart-active.png) no-repeat;
}

#main-nav li.mymusic a {
	background: url(../img/icon-star.png) no-repeat;
	padding-left: 30px;
}

/*#main-nav li.mymusic a:hover,*/
#main-nav li.mymusic.active a {
	background: url(../img/icon-star-active.png) no-repeat;
}

/* responsive nav */
@media (max-width: 979px) {
	.navbar-toggle {
		display: block;
	}
}


@media (min-width: 768px) and (max-width: 979px) {
	.navbar-collapse.collapse {
		display: none !important;
	}

	.navbar-collapse.collapse.in {
		display: block !important;
	}
}

@media (min-width: 980px) {
	.navbar-collapse {
		padding: 0;
	}
}

@media(max-width: 979px) {
	.user-actions {
	    display: block;
	    float: none;
	    text-align: right;
	    padding: 0;
	    margin: 12px 0 0;
	}

	.navbar-toggle {
	    margin: 28px 0 15px;
    	background: #fffafa;
    	border-radius: 2px;
	}

	.navbar-toggle.collapsed {
		background: #333;
	} 

	.navbar-toggle .icon-bar + .icon-bar {
		margin-top: 6px;
	}

	.navbar-toggle .icon-bar {
		background: #191919;
	}

	#main-nav {
		padding: 0;
		min-height: 0;
	}

	.navbar-default .navbar-collapse, 
	.navbar-default .navbar-form {
		border: none;
		box-shadow: none;
	}

	#main-nav .navbar-nav {
		float: none;
		padding: 10px 0;
		margin: 0;
	}

	#main-nav li {
		border-left: none;
		float: none;
		margin-left: 0;
		padding-bottom: 15px;
		padding-left: 0;
		padding-top: 15px;
	}
	
	.navbar-collapse .user-actions {
		border-top: 1px solid #222;
		text-align: left;
		margin-top: 0;
	}
}

/* Slick slider
====================================*/

.slick-dots {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: visible;
}

.slick-dots li {
	float: left;
	padding: 0 4px;
}

.slick-dots button {
	background: none;
	border: none;
	width: 14px;
	height: 14px;
	background: #515151;
	color: transparent;
	border-radius: 50%;
}

.slick-dots .slick-active button {
	background: #fff;
}

.slick-arrow {
	width: 55px;
	height: 55px;
	background: url(../img/slider-arrow-left.png) no-repeat center;
	color: transparent;
	border: none;

	position: absolute;
	left: 35px;
	top: 50%;
	margin-top: -55px;

	z-index: 2;
	
}

.slick-arrow.slick-next {
	background-image: url(../img/slider-arrow-right.png);
	right: 35px;
	left: auto;
	
}

.slick-dots {
	position: absolute;
	left: 50%;
	-ms-transform: translate(-50%,0); /* IE 9 */
   	-webkit-transform: translate(-50%,0); /* Safari */
    transform: translate(-50%,0);
}


/* Section
====================================*/

.section-nav {
	font-size: 25px;
	padding-left: 40px;
	margin-bottom: 25px;
	color: #ebebeb;
}

.section-nav .name {
	font-size: 25px;
	text-transform: uppercase;
	margin: 0;
	line-height: 37.5px;
	float: left;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

.section-nav ul {
	margin: 0;
}

.section-nav li {
	margin-right: 25px;
}

.section-nav li a {
	color: #ebebeb;
}

/*.section-nav li a:hover,*/
.section-nav li.active a {
	color: #00bebe;
}

.section-nav .show-all {
	color: #ebebeb;
	margin-right: 40px;
	padding-right: 20px;
	background: url(../img/icon-arrow-right.png) no-repeat right center;
	display: block;
	float: right;
}

.section-nav .show-all:hover {
	background-image: url(../img/icon-arrow-right-active.png);
}

.section-nav .show-all:hover {
	color: #00bebe;	
}

.section-title {
	text-transform: uppercase;
	font-size: 25px;
	color: #ebebeb;
	display: inline-block;
	margin: 0;
	line-height: 37.5px;
	margin-right: 25px;
}

.section-title img {
	margin: -4px 5px 0 0;
}

@media (max-width: 979px) {
	.section-nav {
		padding: 0;
	}

	.section-nav li {
		margin-right: 20px;
	}
}

@media (max-width: 767px) {
	.section-nav .dropdown-toggle {
	    width: 37px;
		background: #333;
		display: block;
		text-align: center;
		border-radius: 2px;
		color: #191919;
	}

	.section-nav .open .dropdown-toggle {
		color: #fff;
	}

	.section-nav .dropdown-toggle span {
		margin: 0;
	}

	.section-nav .dropdown-menu {
		border-radius: 2px;
	}

	.section-nav .dropdown-menu li {
		margin: 0;
	}

	.section-nav .dropdown-menu li a {
		color: #333;
	}

	.dropdown-menu>.active>a, 
	.dropdown-menu>.active>a:hover, 
	.dropdown-menu>.active>a:focus {
		background: #333;
	}

	.section-nav .dropdown-menu li.active a {
		color: #fff;
	}

	.section-nav .name {
		margin-top: 10px;
		margin-bottom: -25px;
	}

	.section-nav .show-all {
		float: none;
		margin-right: 0;
		text-align: right;
	}
}

/* section carousel
====================================*/

.section-carousel {
	position: relative;
}

.section-carousel.box-shadow {
	box-shadow: 0 0 54px rgba(0,0,0,.9)
}

.section-carousel .slick-dots {
	bottom: 15px;
}

/* section carousel style 1
====================================*/

.section-carousel-s1 {
	margin-top: 35px;
}

.section-carousel-s1 .inner {
	background: #141414;
	padding-bottom: 70px;
	padding-top: 30px;
}

.section-carousel-s1 .feature-slide:before,
.section-carousel-s1 .feature-slide:after {
	content: "";
	width: 59px;
	height: 100%;
	background: rgba(0,0,0,.5);

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.section-carousel-s1 .feature-slide:after {
	right: -1px;
	left: auto;
}

.section-carousel-s1 .inner .section-title {
	padding: 0 70px 30px;
}

.section-carousel-s1 .slick-dots {
	bottom: -50px;
}

.section-carousel-s1 .slick-dots button {
	background: #003f3f;
}

.section-carousel-s1 .slick-dots .slick-active button {
	background: #00bebe;
}

.section-carousel-s1 .slick-slide {
	margin: 0 7.5px;
	padding-bottom: 15px;
	background: #232323;
}

.section-carousel-s1 .slick-slide .entry-thumbnail img {
	width: 100%;
	height: auto;
}

.section-carousel-s1 .entry-title {
	margin: 20px 15px 0;
	font-size: 18px;
}

.section-carousel-s1 .entry-title a {
	color: #fff;
}

.section-carousel-s1 .entry-meta {
	margin: 5px 15px 0;
	color: #959595;
	font-size: 14px;
}

@media (max-width: 767px) {
	.section-carousel-s1 .inner {
		padding-top: 20px;
		background: none;
		padding-bottom: 0;
	}

	.section-carousel-s1 .inner .section-title {
		padding: 0 0 20px;
	}

	.slick-arrow {
		left: 0px;
	}

	.slick-arrow.slick-next {
		right: 0px;
	}

	.section-carousel-s1 .feature-slide:before, 
	.section-carousel-s1 .feature-slide:after {
		display: none;
	}

	.section-carousel-s1 .slick-slide {
		margin: 0;
	}
}

/* section feature
====================================*/

.section-feature {
	margin-top: 85px;
}

@media (max-width: 767px) {
	.section-feature {
		margin-top: 20px;
	}	
}

/* section video
====================================*/

.section-grid-s1 {
	margin-top: 30px;
}

.section-grid-s1 .section-content {
	background: #141414;
	padding: 20px 40px 40px;
}

.section-grid-s1 .entry {
	margin-top: 20px;
}

.section-grid-s1 .entry-thumbnail {
	position: relative;
}

.section-grid-s1 .entry-actions {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;

	-ms-transform: translate(-50%,-50%); /* IE 9 */
   	-webkit-transform: translate(-50%,-50%); /* Safari */
    transform: translate(-50%,-50%);
}

.section-grid-s1 .entry:hover .entry-actions {
	display: block;
}

.section-grid-s1 .entry-thumbnail img {
	width: 100%;
}

.section-grid-s1 .entry:hover .entry-thumbnail .thumbnail-inner {
	position: relative;
}

.section-grid-s1 .entry:hover .entry-thumbnail .thumbnail-inner:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
} 

.section-grid-s1 .entry-title {
	font-size: 17px;
	margin: 15px 10px 0;
}

.section-grid-s1 .entry-title a {
	color: #fff;
}

.section-grid-s1 .entry-title a:hover {
	/*color: #00bebe;*/
}

.section-grid-s1 .entry-meta {
	font-size: 14px;
	color: #fff;
	padding-left: 10px;
	overflow: auto;
}

.section-grid-s1 .entry-meta .pull-left {
	white-space: nowrap; 
    width: 70%; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

@media (max-width: 979px) {
	.section-grid-s1 .section-content {
		padding-left: 20px;
		padding-right: 20px;
	}

	.section-grid-s1 .entry-title {
		margin-left: 0;
	}

	.section-grid-s1 .entry-meta {
		padding-left: 0;
	}
}

@media (max-width: 767px) {
	.section-grid-s1 .entry {
		margin-top: 0;
	}

	.section-grid-s1 .section-content {
		padding: 0;
	}

	.section-grid-s1 .row {
		margin: 0;
	}

	.section-grid-s1 [class*="col-"] {
		padding: 0;
	}

	.section-grid-s1 .entry-title {
		margin-left: 15px;
		margin-right: 15px;
	}

	.section-grid-s1 .entry-meta {
		padding: 10px 15px 20px;
	}
}

/* section video
====================================*/

.section-playlist {
	margin-top: 30px;
}

.section-playlist .entry {
	border-bottom: 1px solid #000;
	padding-left: 40px;
	line-height: 52px;
	color: #ebebeb;
	font-size: 21px;
}

.section-playlist .entry:first-child {
	border-top: 1px solid #000;
}

.section-playlist .entry-thumbnail {
	display: inline-block;
}

.section-playlist .entry-thumbnail img {
	width: 56px;
	height: auto;
}

.section-playlist .entry-title {
	display: inline-block;
	margin: 0;
	font-size: 21px;
	padding-left: 30px;
}

.section-playlist .entry-title a {
	color: #ebebeb;
}

.section-playlist .entry-title a:hover {
	/*color: #00bebe;*/
}

.section-playlist .star {
	width: 25px;
	height: 25px;
	background: url(../img/icon-star.png) no-repeat center;
	color: transparent;
	display: inline-block;
    vertical-align: text-bottom;
}

.section-playlist .star:hover {
	background: url(../img/icon-star-active.png) no-repeat center;
}

@media(max-width: 767px) {
	.section-playlist .entry {
		padding-left: 0;
		line-height: 33px;
	}

	.section-playlist .entry-thumbnail {
		float: left;
		margin-right: 10px;
	}

	.section-playlist .entry-title {
		float: left;
		padding-left: 10px
	}
}

/* Footer
====================================*/
#page-footer {
	background: #141414;
	margin-top: 45px;
	padding: 40px 0 50px;
}

.page-generator {
	text-transform: uppercase;
	margin-top: 10px;
	display: block;
	color: #fff;
}

#page-footer .social-list a {
	border-radius: 6px;
    display: block;
}

#page-footer .social-list .facebook:hover a {
	background: #3b5998;
}

#page-footer .social-list .g-plus:hover a {
	background: #dc4e41;
}

#page-footer .social-list .twitter:hover a {
	background: #55acee;
}

#page-footer .social-list .play:hover a {
	background: #cd201f;
}

@media (max-width: 767px) {
	#page-footer {
		text-align: center;
	}

	#page-footer .pull-left {
		float: none;
		width: 100%;
	}

	#page-footer .pull-left img {
		margin: 0 auto;
	}

	#page-footer .pull-right {
		float: none;
		width: 100%;
		margin-top: 20px
	}
}

/* Chart page
====================================*/

.chart-title {
	color: #fff;
	margin-top: 20px;
	text-transform: uppercase;
}

.chart-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.chart-list li {
	border-top: 1px solid #333;
	margin-top: 10px;
	padding-top: 10px;
	overflow: hidden;
}

.chart-list .entry-thumbnail {
	float: left;
	width: 90px;
	margin-right: 10px;
}

.chart-list .entry-title {
	margin-top: 0;
}

.chart-list a {
	color: #fff;
}

.chart-list a:hover {
	color: #00fefe;
}

/* Single video
====================================*/
.single-video #page-content {
	margin-top: 70px
}

.single-video .entry-video {
	margin-bottom: 60px;
}

.single-video .entry-video .entry-title {
	font-size: 25px;
	line-height: 1;
	margin: 30px 0 0;
}

.single-video .entry-video .entry-meta {
	color: #9b9b9b;
	margin-top: 10px;
}

.single-video .entry-video .entry-meta .dot {
	color: #fff;
}

.single-video .entry-video .entry-meta > span {
	display: block;
}

.single-video .entry-video .entry-meta a {
	color: #fff;
}

.single-video .entry-video .entry-meta a:hover {
	color: #00bebe;
}

.single-video section {
	margin-top: 35px;
}

/* Audio
====================================*/

.entry-audio {
	margin-top: 45px;
}

.entry-audio .entry-thumbnail {
	float: left;
	margin-right: 35px;

	box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.entry-audio .entry-playlist {
	margin-top: 35px
}

.entry-audio .entry-title {
	font-size: 25px;
	line-height: 1;
	margin: 0;
}

.entry-audio .entry-meta {
	margin-top: 10px;
	color: #9b9b9b;
	padding-left: 149px;
}

.entry-audio .entry-meta > span {
	display: block;
}

.entry-audio .entry-meta .dot {
	color: #fff;
}

.entry-audio .entry-meta a {
	color: #fff;
}

.entry-audio .entry-meta a:hover {
	color: #00bebe;
}

/*.chart section {
	margin-top: 35px;
}*/